.errorText {
    color: red;
}

.bodyArea{
    margin-top: 30px;
    margin-bottom: 40px;
}

.homeBusinessListAlign {
    margin-left: 8%;
}

.bizLogo-img {
    border-radius: 0;
    height: 550px;
    width: 100%;
}

.replyComment{
    padding-top: 15px;
}

.commentsAmount{
    font-size: 18px;
}



