@model FeedbackViewModel

<div class="comment-list">
    <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
            <div class="thumb">
                <img src="~/images/blog/c3.jpg" alt="">
            </div>
            <div class="desc">
                <h5>
                    <a href="#">@Model.Name</a>
                </h5>
                <p class="date">@Model.CreatedOn.Value.ToLongDateString()</p>
                <p class="comment">
                    @Model.Comment
                </p>
            </div>
        </div>
        <div class="reply-btn">
            <a href="" class="btn-reply text-uppercase">reply</a>
        </div>
    </div>
</div>
<div class="comment-list left-padding">
    @foreach (var reply in Model.Replies)
    {
        <partial name="_ReplySectionPartial" model="reply" />
        
    }
</div>
