@model LogbookViewModel
@{
    ViewData["Title"] = "_DetailsUnitPartial";
}

<div class="col-md-4 col-xl-4 mb-4 homeBusinessListAlign">
    <div class="card card-explore">
        <div class="card-explore__img">
            <img class="card-img" src="~/images/Project/@Model.Business.Images.FirstOrDefault(x => x.Name.Contains(Model.Name)).Name" alt="Business Image">
        </div>
        <div class="card-body">
            <h3 class="card-explore__title">@Model.Name</h3>
            <p>@Model.Description</p>
            @*<a asp-area="Business" asp-controller="Business" asp-action="Details" asp-route-id="@Model.Name" class="card-explore__link">Visit<i class="ti-arrow-right"></i></a>*@
        </div>
    </div>
</div>