@model FeedbackViewModel
@if (User.IsInRole("Moderator"))
{
    <button id="delete-reply-button" type="button" class="btn btn-danger float-right deleteFeedbackButton" data-headCommentId="@Model.Id">Delete</button>
}
<div class="single-comment replyComment justify-content-between d-flex">
    <div class="user justify-content-between d-flex">
        <div class="thumb">
            <img src="~/images/blog/c6.jpg" alt="">
        </div>
        <div class="desc">
            <h5>
                <a href="#">@Model.Name</a>
            </h5>
            <p class="date">@Model.CreatedOn.Value.ToLongDateString()</p>
            <p class="comment">
                @Model.Comment
            </p>
        </div>
    </div>
</div>