@model BusinessViewModel
@{
    ViewData["Title"] = "Details";
}

<section class="section-margin section-margin--small">
    <div class="container">
        <div class="section-intro text-center pb-80px">
            <h2>@Model.Name</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        @foreach (var unit in Model.BusinessUnits)
                        {
                            <partial name="_DetailsUnitPartial" model="unit" />
                        }
                    </div>
                </div>
                <div class="col-md-10 col-xl-10 mb-10">
                    <div class="comments-area">
                        <h4>Total amount of comments: @Model.Feedback.Count()</h4>
                        @foreach (var comment in Model.Feedback)
                        {
                            <partial name="_CommentSectionPartial" model="comment" />
                        }
                    </div>
                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form>
                        <div class="form-group form-inline">
                            <div class="form-group col-lg-6 col-md-6 name">
                                <input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
                            </div>
                            <div class="form-group col-lg-6 col-md-6 email">
                                <input type="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control mb-10" rows="5" name="message" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'"
                                      required=""></textarea>
                        </div>
                        <a href="#" class="button button-postComment button--active">Post Comment</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div class="col-lg-12">
        <div class="navigation-area">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                    <div class="thumb">
                        <a href="#">
                            <img class="img-fluid" src="~/images/blog/prev.jpg" alt="">
                        </a>
                    </div>
                    <div class="arrow">
                        <a href="#">
                            <span class="lnr text-white lnr-arrow-left"></span>
                        </a>
                    </div>
                    <div class="details">
                        <p>Prev Post</p>
                        <a href="#">
                            <h4>Space The Final Frontier</h4>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                    <div class="detials">
                        <p>Next Post</p>
                        <a href="#">
                            <h4>Telescopes 101</h4>
                        </a>
                    </div>
                    <div class="arrow">
                        <a href="#">
                            <span class="lnr text-white lnr-arrow-right"></span>
                        </a>
                    </div>
                    <div class="thumb">
                        <a href="#">
                            <img class="img-fluid" src="~/images/blog/next.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@