@model Business
@{
    ViewData["Title"] = "_IndexBusinessPartial";
}

<div class="col-md-4 col-xl-4 mb-4 homeMovieListAlign">
    <div>
        <div class="card card-explore">
            <div class="card-explore__img">
                @*<img class="card-img" src="~/images/@Model.LogoImg" alt="Business Image">*@
                <img src="~/images/Project/pool.jpg" alt="Business Image Place" class="card-img" />
            </div>
            <div class="card-body">
                <h3 class="card-explore__title">@Model.Name</h3>
                <p>@Model.Description</p>
                <a asp-area="" asp-controller="Business" asp-action="Details" asp-route-id="@Model.Name" class="card-explore__link">Visit<i class="ti-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>