@model BusinessViewModel
@{
    ViewData["Title"] = "_IndexBusinessPartial";
}

<div class="col-md-4 col-xl-4 mb-4 homeBusinessListAlign">
    <div>
        <div class="card card-explore">
            <div class="card-explore__img">
                @{
                    var imageUrl = @Model.Images.FirstOrDefault(i => i.Name.Contains("logo"))?.Name;
                }
                @if (imageUrl != null)
                {
                    <img class="card-img" src="~/images/Project/@imageUrl" alt="Business Image" />
                }
                else
                {
                    <img class="card-img" src="~/images/Project/defaultBizLogo.png" alt="Business Image" />
                }
            </div>
            <div class="card-body">
                <h3 class="card-explore__title">@Model.Name</h3>
                <p>@Model.Description</p>
                <a asp-area="Business" asp-controller="Business" asp-action="Details" asp-route-name="@Model.Name" class="card-explore__link">Visit<i class="ti-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>