@model LogbookViewModel
@{
    ViewData["Title"] = "_LogbookPartial";
}

<div class="pricing-table">
    @foreach (var note in Model.Notes.OrderByDescending(x => x.CreatedOn))
    {
        <partial name="_NotePartial" model="note" />
    }
</div>
