@model LogbookViewModel
@{
    ViewData["Title"] = "_LogbookPartial";
}

<div class="pricing-table">
    @if (Model.Notes.Count() == 0)
    {
        <p id="noNotes">This logbook has no notes. Be the first to submit one!</p>
    }
    @foreach (var note in Model.Notes.OrderByDescending(x => x.CreatedOn))
    {
        <partial name="_NotePartial" model="note" />
    }
</div>
