@model NoteViewModel

@{
    ViewData["Title"] = "_NotePartial";
}

<div class="pricing-option">
    <i class="material-icons">important_devices</i>
    <h1 class="note-title">Ui design</h1>
    <hr />
    <p>@Model.Text</p>
    <hr />
    <div class="price">
        <div class="front">
            <span class="price">199 <b>$</b></span>
        </div>
        <div class="back">
            <a href="#" class="button">Purchase now</a>
        </div>
    </div>
</div>

