@model NoteViewModel

@{
    ViewData["Title"] = "_NotePartial";
}

<div class="pricing-option">
    <i class="material-icons">mode_comment</i>
    <h1 class="note-title">@Model.User.UserName</h1>
    <hr />
    <p>@Model.Text</p>
    <hr />
    <p>@Model.PriorityType</p>
    <hr />
    <div class="price">
        <div class="front">
            <span class="note-title">@Model.Category?.Name </span>
        </div>
        <div class="back">
            <i class="material-icons" id="editNote">edit</i>
            <i class="material-icons" id="deleteNote">cancel</i>
            <i class="material-icons" id="addImage">photo_camera</i>

        </div>
    </div>
</div>

