@model ManagementIndexViewModel

@{
    ViewData["Title"] = "Management Page";
}

<!------ Include the above in your HEAD tag ---------->
@foreach (var logbook in Model.Logbooks)
{
    <a asp-area="Management" asp-controller="Management" asp-action="Index" asp-route-email="@User.Identity.Name" asp-route-specifiedLogbook="@logbook.Name" class="btn btn-warning" id="logbookButton">
        @logbook.Name
    </a>
}

@foreach (var logbook in Model.Logbooks)
{
    <partial name="_LogbookPartial" model="logbook" />
}