@*@model SearchViewModel*@
@{
    ViewData["Title"] = "Search";
}

<div class="container search-page">
    <div class="form-group">
        <div class="form-inline md-form form-sm active-purple active-purple-2 mt-2">
            <label for="pickPriority">Select Priority</label>
            <select class="browser-default custom-select" id="searchBySelector">
                <option selected value="1">Text</option>
                <option value="2">Category</option>
                <option value="3">Date Created</option>
            </select>
            <div class="notes-search-container">
                <input autocomplete="off" class="notes-search" id="target" type="text" placeholder="Enter text..." data-id="@User.Identity.Name">
            </div>
        </div>
    </div>

    <div class="pricing-table">
        <p id="notShownNotes" class="mt-5">Enter the text you are looing for, only matched notes will be shown...</p>
    </div>
    <h5 id="resultsCount" class="text-info float-right"></h5>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="~/js/search.js">
    </script>
    <script src="~/js/management.js">
    </script>
}

