@*@model SearchViewModel*@
@{
    ViewData["Title"] = "Search";
}

<div class="container">
    <form class="form-inline md-form form-sm active-purple active-purple-2 mt-2">
        <fieldset>
            <input class="form-control form-control-sm ml-4 w-12" id="target" type="text" placeholder="Enter text..." data-id="@User.Identity.Name">
        </fieldset>
    </form>



    <div class="pricing-table">
        <p id="notShownNotes" class="mt-5">Enter the text you are looing for, only matched notes will be shown...</p>
    </div>
</div>


