@using Microsoft.AspNetCore.Identity
@using HotelManagement.Web.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <li class="nav-item avatar-nav">
        <div class="avatar">
            <a class="avatar-name" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)[0]</a>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Sign in</a>
    </li>
}